.nomination-list{
    border: solid 1px black;
    border-radius: 10px;
    grid-row-start:2 ;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    overflow: scroll;
    background-color: white;


  }

  .nominee{
    height: 15%;
    width: 90%;
    margin: auto;
    font-size: 14px;
    display: flex;
    padding-bottom: 5px;
    overflow: auto;
    margin-bottom: 10px;
    overflow: hidden;
}
h2{
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: lighter;
}

.nominee img{
    height: 100%;
    margin-right: 5px;
    border: 1px solid black;

    
}
.nominee p:first-child{
    font-weight: bold;
    margin-bottom: 3px;
}
.result-container{
  display: flex;
  position: relative;
  left: -65px;
  transition: ease 1s;

}

.result-container:hover{
  left: 0px;
}


.removeBtn{
  height: 100%;
  width: 65px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: ease 1s;
}
.removeBtn:hover{
  cursor: pointer;
  background-color: #92140C;
}